@import './assets/theme/colours/palette.scss';
body {
    font-family: 'Poppins';
    background-color: $primary-background-light;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
